[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ibm-watson = "*"
python-dotenv = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.9"
